* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
}


/********** SHARED **********/
.container {}

.flex {
    display: flex;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}



/********** /SHARED **********/

/********** CONTENT **********/



.player-bar {
    height: 10vh;
    width: 100%;
    background-color: black;
    position: fixed;
    bottom: 0;
    z-index: 100;
}

/********** /CONTENT **********/




/********** DEBUG **********/


#debug .row.container {
    border: 1px solid grey;
    background-color: green;
    height: 2000px;
    width: 100vw;

}

#debug .aside {
    border: 1px solid grey;
    background-color: aqua;
    width: 100px;

}

#debug .column.container {
    border: 1px solid grey;
    background-color: brown;

    width: calc(100vw - 100px)
}

#debug #fixed-nav {
    border: 1px solid grey;
    background-color: darkcyan;
    height: 10vh;
    width: calc(100vw - 100px);
    position: fixed;
    z-index: 100;
}

/* #debug .row.container .container {
    border: 1px solid grey;
    background-color: royalblue;
} */




/********** /DEBUG **********/