/********** VARIABLES **********/
:root {
    --fixed-nav-bg-color: #070b10;
    --aside-bg-color: #000000;
    --footer-bg-color: #282828;
    --content-bg-color: #141922;
    --padding: 10px;
    --album-name-color: #fff;
    --sub-heading-color: #73757b;
}


/********** /VARIABLES **********/

/********** GENERICS **********/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/********** /GENERICS **********/

/********** UTILITIES **********/
.xs-show {
    display: initial;
}

.xs-hidden {
    display: none;
}

/********** /UTILITIES **********/

/********** SHARED **********/


.flex {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

img {
    width: 100%;
}



/********** /SHARED **********/

/********** CONTENT **********/
#web-app {
    height: 100vh;
}

#app-container {
    flex-grow: 1;
}

/***** aside *****/
aside {
    height: 100vh;
    position: fixed;
    width: 50px;
    z-index: 2;
    background-color: var(--aside-bg-color);
    padding: var(--padding);
    color: var(--sub-heading-color);
}

.images {
    text-align: center;
    margin: 10px 0;
}

#home.images h5 {
    color: var(--album-name-color);
}


.images .hidden {
    display: none;
}

#playlist {
    padding-top: 20px;
}

#playlist h3 {
    color: var(--album-name-color);
}





/***** /aside *****/

/***** fixed-nav *****/
#fixed-nav {
    height: 10vh;
    width: 100%;
    position: absolute;
    background-color: var(--fixed-nav-bg-color);
    opacity: 80%;
    justify-content: flex-end;
    align-items: center;
}


#fixed-nav #button {
    border: 1px solid white;
    border-radius: 25px;
    padding: 5px 20px;
    margin-right: 10px;
}

#fixed-nav a {
    text-decoration: none;
    color: white;
    font-size: 12px;
}

/***** /fixed-nav *****/

/***** content-container *****/
#content-container {
    background-color: var(--content-bg-color);
    margin-top: 10vh;
    margin-left: 50px;
    overflow-y: auto;
    height: calc(100vh - 100px);
}

#content-container #menu {
    justify-content: center;
    padding-top: 10px;
}

#content-container ul {
    width: 100%;
    color: white;
    list-style-type: none;
    justify-content: space-evenly;
    flex-wrap: wrap;
    line-height: 30px;
}

#content-container li {
    padding: 0 30px;
    color: var(--sub-heading-color);
    font-size: 12px;
}

#content-container h1 {
    color: white;
    padding: 20px;
}



/***** /content-container *****/

/***** tracks-container *****/

#tracks-container {
    justify-content: space-evenly;
}

.album h3 {
    color: var(--album-name-color);
}

.album h5 {
    color: var(--sub-heading-color);
}


/***** /tracks-container *****/


/***** footer *****/

.player-bar {
    height: 60px;
    width: 100%;
    background-color: var(--footer-bg-color);
    position: fixed;
    bottom: 0;
    z-index: 100;
}

/***** /footer *****/

/********** /CONTENT **********/




/********** DEBUG **********/

.debug #tracks-container {
    background-color: green;
}

.debug .album {
    height: 250px;
    width: 200px;
    border: 1px solid red;
    /* padding: 10px; */
    margin-bottom: 10px;
}

.debug .album-img {
    height: 200px;
    /* width: 200px; */
    border: 1px black dotted;
}

.debug .album-labels {
    height: 50px;
    text-align: center;
    border: 1px solid pink;
}

/********** /DEBUG **********/


@media screen and (min-width: 552px) {
    aside {
        width: 200px;
        padding: 20px;
    }

    #content-container {
        margin-left: 200px;
    }

    .xs-show {
        display: none;
    }

    .xs-hidden {
        display: initial;
    }

    .images.logo {
        width: 70%;
    }

    .images {
        display: flex;
        width: 15%;
    }

    .images .hidden {
        display: flex;
    }
}