/********** VARIABLES **********/
:root {
    --fixed-nav-bg-color: #070b10;
    --aside-bg-color: #000000;
    --footer-bg-color: #282828;
    --content-bg-color: #141922;
    --padding: 10px;
    --album-name-color: #fff;
    --sub-heading-color: #73757b;
}


/********** /VARIABLES **********/

/********** GENERICS **********/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/********** /GENERICS **********/

/********** UTILITIES **********/
.xs-show {
    display: initial;
}

.xs-hidden {
    display: none;
}

/********** /UTILITIES **********/

/********** SHARED **********/


.flex {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

#app-container img {
    width: 100%;
}



/********** /SHARED **********/

/********** CONTENT **********/
#web-app {
    height: 100vh;
}

#app-container {
    flex-grow: 1;
}

/***** aside *****/
aside {
    height: 100vh;
    position: fixed;
    width: 50px;
    z-index: 90;
    background-color: var(--aside-bg-color);
    padding: var(--padding);
    color: var(--sub-heading-color);
}

.images {
    align-items: center;
    margin: 10px 0;
}

#home.images h5 {
    color: var(--album-name-color);
}

.images.flex {
    flex-wrap: nowrap;
}

.images h5 {
    padding-left: 5px;
}

.images .hidden {
    display: none;
}

#playlist {
    padding-top: 20px;
}

#playlist.hidden {
    display: none;
}

.fa-solid.fa-square-plus {
    font-size: 36px;
}

#playlist h3 {
    color: var(--album-name-color);
}

#playlist ul {
    list-style-type: none;
    line-height: 2;
}

#playlist .icon {
    align-items: center;
    padding-top: var(--padding);
    padding-bottom: var(--padding);
}

#playlist span {
    padding-left: var(--padding);
}




/***** /aside *****/

/***** fixed-nav *****/
#fixed-nav {
    height: 8vh;
    width: 100%;
    position: absolute;
    background-color: var(--fixed-nav-bg-color);
    opacity: 80%;
    justify-content: flex-end;
    align-items: center;
    z-index: 80;
}


#fixed-nav #button {
    border: 1px solid white;
    border-radius: 25px;
    padding: 5px 20px;
    margin-right: 10px;
}

#fixed-nav a {
    text-decoration: none;
    color: white;
    font-size: 12px;
}

/***** /fixed-nav *****/

/***** content-container *****/
#content-container {
    background-color: var(--content-bg-color);
    margin-left: 50px;
    padding: 10vh 20px 20px 20px;
    overflow-y: auto;
    height: calc(100vh - 60px);
}

#content-container #menu {
    justify-content: center;
    padding-top: 10px;
}

#content-container ul {
    width: 100%;
    color: white;
    list-style-type: none;
    justify-content: space-evenly;
    flex-wrap: wrap;
    line-height: 30px;
}

#content-container li {
    padding: 0 30px;
    color: var(--sub-heading-color);
    font-size: 12px;
}

#content-container h1 {
    color: white;
    padding: 20px;
}

#content-container h5 {
    color: var(--sub-heading-color);
}

#content-container>h5 {
    padding-left: 20px;
    padding-bottom: 10px;
}



/***** /content-container *****/

/***** tracks-container *****/

.tracks-container {
    justify-content: center;
}

.album {
    position: relative;
    height: fit-content;
    flex-basis: calc(50% - 30px);
    margin: 10px;

}

.album-img {
    max-height: fit-content;
    opacity: 1;
    transition: 0.5s ease;
    width: 100%;
    backface-visibility: hidden;

}

.hidden-play-icon {
    position: absolute;
    top: 40%;
    left: 50%;
    opacity: 0;
    font-size: 60px;
    color: #fff;
    transform: translate(-50%, -50%);
    text-align: center;
}

.album:hover .album-img {
    opacity: 0.3;
}

.album:hover .hidden-play-icon {
    opacity: 1;
}

.album-labels {
    height: fit-content;
    text-align: center;
}

.album h3 {
    color: var(--album-name-color);
}

.album h5 {
    color: var(--sub-heading-color);
}

#artisti-popolari img {
    border-radius: 50%;
}



/***** /tracks-container *****/


/***** footer *****/

.player-bar {
    height: 60px;
    width: 100%;
    background-color: var(--footer-bg-color);
    position: fixed;
    bottom: 0;
    z-index: 100;
    padding-bottom: 10px;

}

/* left-col */
/* /left-col */

/* mid-col */

/* /mid-col */
.slider-container {
    width: 100%;
    padding: 0 5px;
}

.slider {
    width: 100%;
    height: 20px;
    background-color: red;
    opacity: 0.8;
    transition: opacity 0.3s;
    outline: none;
    /* appearance: none; */

}

.slider:hover {
    opacity: 1;
    cursor: pointer;
}

/* right-col */
/* /right-col */

/***** /footer *****/

/********** /CONTENT **********/

/********** DEBUG **********/
.debug .player-bar .flex {
    border: 1px solid red;
    height: 60px;
    width: calc(100% / 3);
}

/* LEFT-COL */
.debug #left-col {
    padding: 10px 5px;
}

.debug #left-col #current-song-img {
    height: 30px;
    padding-right: 10px;
}

.debug #left-col img {
    width: 30px;
}

.debug #left-col h3 {
    color: var(--album-name-color);
}

.debug #left-col h5 {
    color: var(--sub-heading-color);
}

.debug #left-col .column {
    padding-left: 20px;
}

.debug #left-col .fa-regular {
    color: white;
    color: var(--sub-heading-color);
}

/* MID-COL */

.debug #mid-col .row {
    border: 1px solid greenyellow;
    height: 50%;
    width: 100%;
    color: var(--album-name-color);
    font-size: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
}

.debug #mid-col .fa-regular.fa-circle-play {
    font-size: 18px;
}


/********** /DEBUG **********/

/* S viewport */
@media screen and (min-width: 640px) {
    aside {
        width: 200px;
        padding: 20px;
    }

    #content-container {
        margin-left: 200px;
    }

    .xs-show {
        display: none;
    }

    .xs-hidden {
        display: initial;
    }

    .images.logo {
        width: 70%;
    }

    .images {
        display: flex;
        width: 15%;
    }

    .images .hidden {
        display: flex;
    }

    #playlist.hidden {
        display: flex;
    }
}

/* /S viewport */


/* MD viewport */
@media screen and (min-width: 878px) {
    .tracks-container {
        justify-content: flex-start;
    }

    .album {
        flex-basis: calc((100% / 4) - 30px);
    }
}

/* /MD viewport */

/* MD viewport */
@media screen and (min-width: 1440px) {
    .tracks-container {
        justify-content: flex-start;
    }

    .album {
        flex-basis: calc((100% / 6) - 30px);
    }
}

/* /MD viewport */